{% load static %}
<div class="col s12 m7">
    <h2 class="header">About author</h2>
    <div class="card horizontal hoverable">
        <div class="card-image" style="padding: 20px">
            {% if author.avatar %}
                <img width="100" height="100" src="{{ author.avatar.url }}"
                     alt="{{ author.user.username }}" class="circle">
            {% else %}
                <img width="100" height="100" src="{% static "avatar.png" %}" alt="" class="circle">
            {% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ author.user.username }}</p>
                <p>{{ author.bio }}</p>
                <br>
                <div class="col">
                    <div class="row">
                        {% if author.facebook %}
                            <a><i class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if author.instagram %}
                            <a><i class="fab fa-instagram"></i></a>
                        {% endif %}
                        {% if author.twitter %}
                            <a><i class="fab fa-twitter"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <a href="#">More posts</a>
            </div>
        </div>
    </div>
</div>