{% extends 'base.html' %}
{% load static %}
{% block titleblock %}
    {{ object.title }}
{% endblock %}
{% block bodyblock %}
    <div class="card hoverable">
        <div class="card-image">
            {% if object.thumbnail_image %}
                <img class="materialboxed" width="300" height="300" src="{{ object.thumbnail_image.url }}"
                     alt="{{ object.title }}">
            {% else %}
                <img class="materialboxed" width="300" height="300" src="{% static 'default.jpg' %}" alt="Default post image">
            {% endif %}
            <span class="card-title">{{ object.title }}</span>
        </div>
        <div style="padding: 20px">
            <ul>
                <li class="collection-item">
                    <i class="material-icons tiny">access_time</i>
                    <span class="title">Published: {{ object.updated_date }}</span>
                </li>
                <li class="collection-item">
                    <i class="material-icons tiny">person</i>
                    <span class="title">Author: {{ object.author.username }}</span>
                </li>
            </ul>
            <hr color="green">
            {{ object.content|linebreaks }}
            <br>
            <h2 class="header">About author</h2>
            {% if object.author %}
                {% include "blog/components/about_author.html" with author=object.author more=True %}
            {% endif %}
            <br>
            {% include 'blog/components/comments.html' with comments=comments %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });
    </script>
{% endblock %}