{% load static %}
{% load user_likes %}
{% for post in posts %}
    <div class="col s12 m6 l4">
        <div class="card hoverable post-card">
            <div class="card-image">
                {% if post.thumbnail_image %}
                    <img width="300" height="300" src="{{ post.thumbnail_image.url }}" alt="{{ post.title }}">
                {% else %}
                    <img width="300" height="300" src="{% static 'default.jpg' %}">
                {% endif %}
                <span class="card-title">{{ post.title }}
                        </span>
            </div>
            <div class="card-content">
                <ul>
                    <li class="collection-item">
                        <i class="material-icons tiny">access_time</i>
                        <span class="title">Published: {{ post.updated_date }}</span>
                    </li>
                    <li class="collection-item">
                        <i class="material-icons tiny">person</i>
                        <span class="title">Author: {{ post.author.username }}</span>
                    </li>
                    {% if post.category.all %}
                        <li class="collection-item">
                            <i class="material-icons tiny">list</i>
                            <span class="title">Category:
                                {% for category in  post.category.all %}
                                    {{ category }}
                                {% endfor %}
                        </span>
                        </li>
                    {% endif %}
                </ul>
                <br>
                <p class="truncate">{{ post.short_description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'blog:post' post.id %}" style="color: #2196F3;">Read More</a>
                {% if user.is_authenticated %}
                    <a class="right" href="javascript:void(0)" onclick="SwitchStar(this.id, 'post')"
                       id="post-{{ post.id }}">
                    {% has_user_liked post=post user=user as is_liked %}
                        {% if is_liked %}
                            <i class="material-icons">favorite_border</i>
                        {% else %}
                            <i class="material-icons">favorite</i>
                        {% endif %}
                    </a>
                {% else %}
                    <a class="right" href="{% url 'account:login' %}" id="post-{{ post.id }}">
                        <i class="material-icons">star_border</i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}