<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Material icons and FontAwesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <script>
        async function SwitchStar(productID, likeType) {
            const response = await fetch('/action/like/' + likeType + '/' + productID.toString().replace(likeType + "-", ""), {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                }
            }).catch(
                () => {
                    M.toast({html: 'Network error while checking star state', classes: 'rounded'});
                }
            );
            var response_json = await response.json();
            console.log(response_json)
            const star = document.getElementById(productID);
            if (response_json.status === "liked") {
                star.firstElementChild.innerText = "favorite_border"
                M.toast({html: 'Post Liked', classes: 'rounded'});
            } else if (response_json.status === "unliked") {
                star.firstElementChild.innerText = "favorite"
                M.toast({html: 'Post Like Removed', classes: 'rounded'});
            }
        }
    </script>
    <style>
        .post-card {
            min-height: 543px;
        }
    </style>
    <title>
        {% block titleblock %}
        {% endblock %}
    </title>
</head>
<body>
{% include 'header.html' %}
<div style="padding: 20px">
    {% block bodyblock %}
    {% endblock %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
    });
</script>
{% include 'footer.html' %}
</body>
</html>